<!DOCTYPE html>
<html>
<head>
    <title>PRKD MEDIA</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Check out our Latest Videos</h1>

    <div class="carousel-container">
        <div class="carousel-slides">
            {{ range .Site.Data.videos }}
                <iframe type="text/html" src="{{ .link }}" allowfullscreen></iframe>
            {{ end }}
        </div>
    </div>
      
    <button class="prev-button">Previous</button>
    <button class="next-button">Next</button>
      
</body>
<script src="/js/main.js"></script>
</html>
